<!DOCTYPE html>
<html>
<head>
  <title>TechRadar</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="technology.css">
</head>
<body>
<article>
  <h1><%= @technology[:title] %></h1>
  <!--<%= image_tag(@technology[:pic_url]) %>-->
  <img src='<%= image_path(@technology[:pic_url]) %>' />
  <section>
    <p><%= @technology[:content] %></p>
  </section>
</article>
</body>
